.post {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.post_title {
    font-size: x-large;
    font-weight: bolder;
}

/* .post__delete {
    display: flex;
    justify-content: center;
    margin: auto;
}

.favorite_post_button {
    display: flex;
    justify-content: center;
    margin: auto;
} */

.all_buttons{
    display: flex;
    justify-content: center;
    margin: auto;
}